<h1>Hello, folks! 👋</h1>

<p>I'm {{name}}, Software Engineer from Mexico, living as Digital Nomand around the World.</p>


<h3>🔧 Tech Stack</h3>
<p>
  <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
  <img alt="Kubernetes" src="https://img.shields.io/badge/-kubernetes-3069DD?style=flat-square&logo=kubernetes&logoColor=white" />
  <img alt="Go" src="https://img.shields.io/badge/-Go-08A6D0?style=flat-square&logo=go&logoColor=white" />
  <img alt="Google Cloud Platform" src="https://img.shields.io/badge/-Google_Cloud_Platform-1a73e8?style=flat-square&logo=google-cloud&logoColor=white"/>
  <img alt="AWS" src="https://img.shields.io/badge/-AWS-F29100?style=flat-square&logo=amazonaws&logoColor=white"/>
</p>
